@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-drop-shadow {
    /* Add your custom drop-shadow property here */
    filter: drop-shadow(0.35px 0.35px 0.8px rgba(60, 179, 113, 0.8));
  }

   
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #18181893;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #18181893;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #18181893;
}